<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225402323374-10ge4b8vp8kvpadt9ruhr5s1ujh57f0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225402323374-10ge4b8vp8kvpadt9ruhr5s1ujh57f0o</string>
	<key>API_KEY</key>
	<string>AIzaSyDZkV-iYImad-VKkQ2aNPQrmN02MVGnmyY</string>
	<key>GCM_SENDER_ID</key>
	<string>225402323374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.equipro.equipro</string>
	<key>PROJECT_ID</key>
	<string>equipro-23916</string>
	<key>STORAGE_BUCKET</key>
	<string>equipro-23916.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225402323374:ios:e34bb2f1f32bc14973883f</string>
</dict>
</plist>